<ActionBar [title]="barTitle">
    <Placeholder *ngIf="isAndroid; then androidActionBar else iosActionBar">
    </Placeholder>
    <ActionItem *ngFor="let button of buttons; let i=index"
        [icon]="button.icon"
        ios.position="right"
        (tap)="onButtonTap(i)">
    </ActionItem>
</ActionBar>
<ng-template #iosActionBar>
    <ActionItem *ngIf="navBtn"
        [icon]="navBtn.icon"
        ios.position="left"
        (tap)="onNavBtnTap()">
    </ActionItem>
</ng-template>
<ng-template #androidActionBar>
    <NavigationButton *ngIf="navBtn"
        [icon]="navBtn.icon"
        (tap)="onNavBtnTap()">
    </NavigationButton>
</ng-template>