<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Ingresar"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Ingresar'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <StackLayout #container class="page page-content" tkMainContent>
        <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>
        
          
        <TextField *ngIf="!isLoggingIn" #name hint="Name" [(ngModel)]="user.name" [ngClass]="{'sign-up':!isLoggingIn}"></TextField>
        <TextField *ngIf="!isLoggingIn" #username hint="User Name" [(ngModel)]="user.username" [ngClass]="{'sign-up':!isLoggingIn}"></TextField>
        <TextField #email hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
                autocorrect="false" autocapitalizationType="none" [ngClass]="{'sign-up':!isLoggingIn}"></TextField>
        <TextField #password hint="Password" secure="true" [(ngModel)]="user.password" [ngClass]="{'sign-up':!isLoggingIn}"></TextField>
        
        <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="submit-button" (tap)="submit()"></Button>
        <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
    </StackLayout>
</RadSideDrawer>