StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
}
.app-name-label {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}