<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_close_clear_cancel" (tap)="goBack()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed" (tap)="goBack()"
        ios.position="left" ios.systemIcon="1">
    </ActionItem>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="saveProduct()"></ActionItem>
    <Label class="action-bar-title" text="Crear Producto"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Create'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <StackLayout class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout>
                <TextField hint="Nombre" [(ngModel)]="product.name" required minlength="4"></TextField>
                <Label class="textfield-underline"></Label>
                <TextField hint="Marca" [(ngModel)]="product.brand" required minlength="4"></TextField>
                <Label class="textfield-underline"></Label>
                <TextView hint="Descripción" [(ngModel)]="product.description" style="height: 200px;font-size:16;background-color:transparent;border-color: transparent;"></TextView>
                <Label class="textfield-underline"></Label>
                <TextView hint="Características" [(ngModel)]="product.features" style="height: 200px;font-size:16;background-color:transparent;border-color: transparent;margin-top:30px;"></TextView>
                <Label class="textfield-underline"></Label>
                <Button (tap)="onSelectMultipleTap()" text="Add Images"></Button>
                <Label class="textfield-underline"></Label>
                <WrapLayout>
                    <ng-template ngFor let-i="index" let-image [ngForOf]="images" let-odd="odd" let-even="even">
                        <AbsoluteLayout [id]="getImageName(image.fileUri) + 'layout'" class="image-container" [class.odd]="odd" [class.even]="even">
                            <Image left="0" top="0" stretch="aspectFill" class="upload" [src]="image.fileUri" [class.uploading]="image.uploading" [class.error]="image.error"></Image>
                            <!--
                            <Progress [visibility]="image.uploading ? 'visible' : 'collapsed'" class="progress" [id]="getImageName(image.fileUri) + 'progress'" class="progress"></Progress>
                            -->
                            <Label style="margin:78% 0% 0% 0%" [visibility]="image.uploaded || image.error ? 'visible' : 'collapsed'" class="bottom-bar" text=""></Label>
                            <Label style="margin:80% 0% 0% 84%" [visibility]="image.uploaded ? 'visible' : 'collapsed'" [text]="'\uf05d'" class="fa success"></Label>
                            <Label style="margin:80% 0% 0% 84%" [visibility]="image.error ? 'visible' : 'collapsed'" [text]="'\uf021'" class="fa reload"></Label>
                            <Label style="margin:80% 0% 0% 3%" [visibility]="image.uploaded || image.error ? 'visible' : 'collapsed'" [text]="'\uf014'" class="fa remove" (tap)="removeImage(i)"></Label>
                            <ActivityIndicator 
                                style="margin:46% 0% 0% 46%"
                                [busy]="image.uploading" 
                                [visibility]="image.uploading ? 'visible' : 'collapse'" 
                                horizontalAlignment="center" 
                                verticalAlignment="center">
                            </ActivityIndicator>
                        </AbsoluteLayout>
                    </ng-template>
                </WrapLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>