.page TextField {
    margin: 30px 10px 15px 10px;
}
.page Label.textfield-underline {
    height: 1px;
    width: 98%;
    background-color: #bcbcbc;
}
Image.upload {
    height: 100%;
    width: 100%;
}
Image.upload.uploading, Image.upload.error {
    opacity: 0.5;
}
.progress {
    width: 100%;
}
.image-container {
    height: 322px;
    width: 50%;
    margin-bottom: 5px;
    background-color: white;
}
.even.image-container {
    padding-right: 2px;
}
.odd.image-container {
    padding-left: 2px;
}
Label.bottom-bar {
    background-color: rgba(0, 0, 0, 0.507);
    height: 500px;
    width: 100%;
}
Label.fa {
    font-size: 30px;
}
Label.remove, Label.reload {
    color: white;
}
Label.success {
    color: green;
}